.shop-category img {
display: block;
margin: 30px auto;
width: 78%;
}
.shopcategory-indexSort{
display: flex;
margin: 0px 170px;
justify-content: space-between;
align-items: center;
}
.shopcategory-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* espace entre le texte et l’icône */
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Effet au survol */
.shopcategory-sort:hover {
  background-color: #ececec;
  border-color: #aaa;
  transform: translateY(-2px);
}

/* Style de l’icône */
.shopcategory-sort img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.shopcategory-indexSort p span{
font-weight: 600;
}
.shopcategory-products{
margin: 20px 170px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
row-gap: 80px;
}
.ShopCategory-loadmore{
display: flex;
justify-content: center;
align-items: center;
margin: 75px auto;
width: 233px;
height: 69px;
border-radius: 75px;
background:#ededed;
color: #787878;
font-size: 18px;
font-weight: 500;
}
